
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/jsonReports/

#Allure
/allure-report
/allure-results

#Environment
.DS_Store
.playwright.env

# idea
/.idea/
